a {
	text-decoration: none;
	display: inline-block;
	color: #686945;
}

a:hover {
	color: #73770f;
}

/* .form-control, .form-control:focus {
	border-color: #686945;
}

form label {
	border-color: #686945;
} */

form .btn {
	background-color: #686945;
	/* Колір тексту у введеннях */
	border: 1px solid #686945;
	/* Колір меж для input */
	/* Інші стилі, які ви хочете застосувати */
}

.form-check-label::before{
	color: #686945;
}